nav.sidebar{
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
    transition: margin .4s ease-in-out;
    z-index: 2;
}
li.nav-item::before {
    content: "";
    line-height: 100%;
    height: 100%;
    background: teal;
    width: 3px;
    top: 0px;
    left: 0px;
    position: absolute;
}
a.nav-link {
    color: #ffffff;
}
a.nav-link:hover,
a.nav-link:visited,
a.nav-link:active{
    color: #007bff; 
}