<nav class="sidebar">
    <div class="sidebar-content">
        <ul class="nav flex-column">
            <li class="nav-item dropdown">
                <a class="nav-link" [routerLink]="[ '' ]" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="devicesMenu">Devices</a>
                <ul class="nav flex-column collapse" id="devicesMenu" [ngbCollapse]="isCollapsed">
                    <li class="nav-item">
                        <a [routerLink]="[ '/devices' ]" class="nav-link">Registered devices</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="[ '/devices' ]" class="nav-link">Configure wizard</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/profiles' ]" class="nav-link">Profiles</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/themes' ]" class="nav-link">Themes</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/apps' ]" class="nav-link">Apps</a>
            </li>
        </ul>
    </div>
</nav>